openapi: 3.0.3
info:
  title: whatstrending.ai API
  description: >
    Free, no-auth REST API for real-time AI news, AI model rankings, and trending
    AI tools. No API key required. Powered by whatstrending.ai.
  version: "1.0.0"
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  contact:
    name: whatstrending.ai
    url: https://whatstrending.ai
servers:
  - url: https://whatstrending.ai
    description: Production
paths:
  /api/articles:
    get:
      summary: List AI news articles
      operationId: listArticles
      parameters:
        - name: category
          in: query
          required: false
          schema: { type: string }
          description: Filter by category (e.g. Industry, Tools, Research, Startups, Regulation, Models)
        - name: limit
          in: query
          required: false
          schema: { type: integer, default: 50 }
        - name: offset
          in: query
          required: false
          schema: { type: integer, default: 0 }
      responses:
        "200":
          description: A list of articles
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/Article" }
  /api/articles/{slug}:
    get:
      summary: Get a single article by slug
      operationId: getArticle
      parameters:
        - name: slug
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: One article
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  data: { $ref: "#/components/schemas/Article" }
        "404":
          description: Article not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: false }
                  error: { type: string, example: "Article not found" }
  /api/models:
    get:
      summary: AI model leaderboard
      operationId: listModels
      parameters:
        - name: limit
          in: query
          required: false
          schema: { type: integer }
      responses:
        "200":
          description: Ranked AI models
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/Model" }
  /api/models/{id}:
    get:
      summary: Get a single model by id
      description: >
        Look up one model by its slugified name. The `id` is the model name
        lowercased with spaces replaced by hyphens (e.g. "DeepSeek V4 Flash" ->
        "deepseek-v4-flash"). It is NOT the `or`/OpenRouter id, which contains a
        slash and will not match.
      operationId: getModel
      parameters:
        - name: id
          in: path
          required: true
          description: Slugified model name (lowercase, spaces -> hyphens), e.g. deepseek-v4-flash
          schema: { type: string }
      responses:
        "200":
          description: One model
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  data: { $ref: "#/components/schemas/Model" }
        "404":
          description: Model not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: false }
                  error: { type: string, example: "Model not found" }
  /api/most-read:
    get:
      summary: Most-read articles
      operationId: mostRead
      responses:
        "200":
          description: Most-read article slugs with view counts
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        slug: { type: string }
                        views: { type: integer }
  /api/awesome-data:
    get:
      summary: Trending AI tools, comparisons & models
      description: >
        Returns three collections directly (not the { success, data } envelope):
        curated tools, head-to-head comparisons, and the model leaderboard.
      operationId: awesomeData
      responses:
        "200":
          description: Curated AI tools, comparisons, and models
          content:
            application/json:
              schema:
                type: object
                properties:
                  generatedAt: { type: string, format: date-time }
                  site: { type: string }
                  tools:
                    type: array
                    items: { $ref: "#/components/schemas/Tool" }
                  comparisons:
                    type: array
                    items: { $ref: "#/components/schemas/Comparison" }
                  models:
                    type: array
                    items: { $ref: "#/components/schemas/Model" }
components:
  schemas:
    Article:
      type: object
      properties:
        title: { type: string }
        originalTitle: { type: string }
        slug: { type: string }
        link: { type: string, format: uri }
        source: { type: string }
        category: { type: string }
        date:
          type: string
          description: >
            Publication date passed through from the source feed. May be ISO 8601
            (e.g. 2026-06-20T14:46:48-04:00) or RFC 2822
            (e.g. Sat, 20 Jun 2026 16:39:57 +0000) depending on the source.
        sourceType: { type: string }
        summary: { type: string }
        coverage:
          type: number
          description: How widely the story is being reported (higher = more coverage)
        trendScore:
          type: number
          description: How fast the story is trending
        sources:
          type: array
          description: Publication names covering the story
          items: { type: string }
    Model:
      type: object
      properties:
        rank: { type: integer }
        name: { type: string }
        provider: { type: string }
        score: { type: integer, description: "Usage score (e.g. trailing token volume)" }
        scoreDisplay: { type: string, description: "Human-readable score, e.g. \"4.68T\"" }
        tokens: { type: integer, format: int64, description: "Token volume routed to the model" }
        requests: { type: integer, format: int64, description: "Request count routed to the model" }
        pricing: { type: string, description: "$in/$out per million tokens" }
        context: { type: string }
        category: { type: string }
        change: { type: string }
        or: { type: string, description: "OpenRouter model id" }
    Tool:
      type: object
      properties:
        name: { type: string }
        tagline: { type: string }
        description: { type: string }
        url: { type: string, format: uri }
        category: { type: string }
        pricing: { type: string, description: "e.g. free, freemium, paid" }
    Comparison:
      type: object
      properties:
        a: { type: string, description: "First tool/model in the comparison" }
        b: { type: string, description: "Second tool/model in the comparison" }
        slug: { type: string, description: "Comparison page slug, e.g. chatgpt-vs-claude" }
